$def with (svn_branches_url, branches)
<html>
    <head>
        <title>svn_branch_graph $svn_branches_url</title>
        <style type="text/css">
            body {
                font-family: Arial;
            }
            .branch {
                width: 300px;
                float: left;
            }
        </style>
    </head>
    <body>
        <p>Please give a regexp match for branches to include in the graph:</p>
        <form action="get-graph">
            <input name="branch_regexp" type="text" />
            <p>
            <input type="submit" value="View Graph" />
            </p>
        </form>

        <p>Or, please select the branches to include in the graph:</p>
        <form action="get-graph">
            $for (i, branch) in enumerate(branches):
                <div class="branch">
                    <input name="branch" type="checkbox" id="$branch" value="$branch" />
                    <label for="$branch">$branch</label>
                </div>
            <div style="clear: both;"></div>
            <p>
                <input type="submit" value="View Graph" />
            </p>
        </form>
    </body>
</html>
